<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwuer.core.dao.PolicyMapper">
  <resultMap id="BaseResultMap" type="com.nwuer.core.entity.Policy">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="one_time_task" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="every" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="frequency" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, one_time_task, every, frequency
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy (id, one_time_task, every, 
      frequency)
    values (#{id,jdbcType=CHAR}, #{oneTimeTask,jdbcType=BIT}, #{every,jdbcType=INTEGER}, 
      #{frequency,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oneTimeTask != null">
        one_time_task,
      </if>
      <if test="every != null">
        every,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="oneTimeTask != null">
        #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    <set>
      <if test="oneTimeTask != null">
        one_time_task = #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        every = #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    set one_time_task = #{oneTimeTask,jdbcType=BIT},
      every = #{every,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.nwuer.core.entity.Policy">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="one_time_task" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="every" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="frequency" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, one_time_task, every, frequency
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy (id, one_time_task, every, 
      frequency)
    values (#{id,jdbcType=CHAR}, #{oneTimeTask,jdbcType=BIT}, #{every,jdbcType=INTEGER}, 
      #{frequency,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oneTimeTask != null">
        one_time_task,
      </if>
      <if test="every != null">
        every,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="oneTimeTask != null">
        #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    <set>
      <if test="oneTimeTask != null">
        one_time_task = #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        every = #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    set one_time_task = #{oneTimeTask,jdbcType=BIT},
      every = #{every,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.nwuer.core.entity.Policy">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="one_time_task" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="every" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="frequency" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, one_time_task, every, frequency
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy (id, one_time_task, every, 
      frequency)
    values (#{id,jdbcType=CHAR}, #{oneTimeTask,jdbcType=BIT}, #{every,jdbcType=INTEGER}, 
      #{frequency,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oneTimeTask != null">
        one_time_task,
      </if>
      <if test="every != null">
        every,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="oneTimeTask != null">
        #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    <set>
      <if test="oneTimeTask != null">
        one_time_task = #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        every = #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    set one_time_task = #{oneTimeTask,jdbcType=BIT},
      every = #{every,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.nwuer.core.entity.Policy">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="one_time_task" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="every" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="frequency" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, one_time_task, every, frequency
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy (id, one_time_task, every, 
      frequency)
    values (#{id,jdbcType=CHAR}, #{oneTimeTask,jdbcType=BIT}, #{every,jdbcType=INTEGER}, 
      #{frequency,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oneTimeTask != null">
        one_time_task,
      </if>
      <if test="every != null">
        every,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="oneTimeTask != null">
        #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    <set>
      <if test="oneTimeTask != null">
        one_time_task = #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        every = #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    set one_time_task = #{oneTimeTask,jdbcType=BIT},
      every = #{every,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.nwuer.core.entity.Policy">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="one_time_task" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="every" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="frequency" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, one_time_task, every, frequency
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from repeat_policy
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy (id, one_time_task, every, 
      frequency)
    values (#{id,jdbcType=CHAR}, #{oneTimeTask,jdbcType=BIT}, #{every,jdbcType=INTEGER}, 
      #{frequency,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nwuer.core.entity.Policy">
    insert into repeat_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oneTimeTask != null">
        one_time_task,
      </if>
      <if test="every != null">
        every,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="oneTimeTask != null">
        #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    <set>
      <if test="oneTimeTask != null">
        one_time_task = #{oneTimeTask,jdbcType=BIT},
      </if>
      <if test="every != null">
        every = #{every,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nwuer.core.entity.Policy">
    update repeat_policy
    set one_time_task = #{oneTimeTask,jdbcType=BIT},
      every = #{every,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>