
.banner {
    text-align: center;
}
.progress{
    height: 3rem;
}

.content {
    line-height:3rem;
    display: block;
    position: absolute;
    white-space:nowrap;text-overflow:ellipsis;
}
#job_list{
    list-style: none;
}

#job_list .caret {
    height: 3rem;
    line-height: 3rem;
    float: left;
}
